.containerLogin {
  align-items: center;
  background-color: rgb(203, 203, 203);
  display: flex;
  flex-direction: column;
  height: 690px;
  justify-content: center;
  width: 100%;
}

.titleLogin {
  font-size: 40px;
  margin: 10px;
}

.input {
  height: 30px;
  margin: 2px;
  width: 200px;
}

.botaoEntrar {
  background-color: rgb(122, 221, 122);
  width: 208px;
}
