#formWallet {
  width: 100%; height: 100%;
  padding-top: 10px; padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(160, 125, 255);
  margin-top: 10px;
}

.labelFormWallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.select {
  width: 200px;
}