.formWallet {
  background-color: rgb(160, 125, 255);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.labelFormWallet {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.select {
  width: 200px;
}
